<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>技术管理</title>
    <link rel="stylesheet" href="/resources/layui/css/layui.css">
    <link rel="stylesheet" href="/resources/css/public.css" media="all" />

    
</head>

<body class="childrenBody">
<!--条件查询start-->
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>技术查询</legend>
</fieldset>

<!--条件查询表单-->
<form class="layui-form" action="" lay-filter="searchFrom" id="searchForm">

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">技术名:</label>
            <div class="layui-input-inline">
                <input type="tel" name="name"  autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label">描述:</label>
            <div class="layui-input-inline">
                <input type="tel" name="remark"  autocomplete="off" class="layui-input">
            </div>
            <button type="button" class="layui-btn layui-btn-normal" lay-filter="demo1" id="doSearch">查询</button>
            <button type="reset" class="layui-btn layui-btn-warm">重置</button>
        </div>     
    </div>
   
</form>

<!--添加和提交的框start-->
<div style="display: none;padding: 20px" id="saveOrUpdateDiv" >
    <form class="layui-form"  lay-filter="dataForm" id="dataForm">

        <div class="layui-form-item">
            <div class="layui-inline">
	            <label class="layui-form-label">技术名:</label>
	            <div class="layui-input-inline">
	                <input type="hidden" name="id">
	                <input type="text" name="name" placeholder="请输入技术名字" autocomplete="off"
	                       class="layui-input">               
	            </div>           
	         </div>     
        </div>  
        
        <div class="layui-form-item">
            <div class="layui-inline">
	            <label class="layui-form-label">描述:</label>
	            <div class="layui-input-inline">
	                <input type="hidden" name="id">
	                <input type="text" name="remark" placeholder="请输入技术描述" autocomplete="off"
	                       class="layui-input">               
	            </div>           
	         </div>     
        </div>  
        
        <div class="layui-form-item">               
              <div class="layui-inline">
                  <label class="layui-form-label">是否可用:</label>
                  <div class="layui-input-inline">
                      <input type="radio" name="available" value="1" checked="checked" title="可用">
                      <input type="radio" name="available" value="0" title="不可">
                  </div>
              </div>
        </div>
          
        <div class="layui-form-item" >
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-release" lay-filter="doSubmit" lay-submit="">提交</button>
                <button type="reset" class="layui-btn layui-btn-warm layui-btn-sm layui-icon layui-icon-refresh" >重置</button>
            
               
            </div>
        </div>
    </form>
</div>
<!--添加和提交的框end-->

<!--表格渲染的-->
<table class="layui-hide" id="dataTable" lay-filter="loginInfoTable"></table>
<!--定义表头按钮，不显示-->
<div class="layui-btn-container" style="display: none" id="toolbarDemo">
    <button class="layui-btn layui-btn-sm" lay-event="add" >添加</button>
    <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="deleteBatch">批量删除</button>
</div>
<!--右边的按钮-->
<div style="display: none" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</div>

<!--layui的js-->
<script src="/resources/layui/layui.js"></script>
<script>
    var tableIns;
    

    layui.use(['table','layer','jquery','element','form'], function(){
        var $ = layui.jquery;
        var form = layui.form;
        var table = layui.table;
       
        var layer = layui.layer;
        

      
        tableIns=table.render({
            elem: '#dataTable'
            ,url:'/technology/queryAllTechnology'
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,height:'full-180'
            ,limit:5
            ,limits:[5,7,10]
            ,loading:true
            // ,totalRow:true
            ,title: '技术数据表'
            ,cols: [ [
                {type: 'checkbox', fixed: 'left',align:'center'}
                ,{field:'id', title:'ID',width:100,align:'center'}
                ,{field:'name', title:'技术名',align:'center'}
                ,{field:'remark', title:'技术描述',align:'center'}
                ,{field:'available', title:'是否可用',width:100,align:'center',  templet: function(res){
                    return res.available == '1'? '<font color="#add8e6">可用</font>':'<font color="red">不可用</font>'
                }}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:200,align:'center' }
            ] ]
            ,page: true
            ,done: function(res, curr, count){ //处理删除某一页最后一条数据的BUG
		        if(res.data.length==0&&curr!=1){
		        	tableIns.reload({
		        		page:{
		        			curr:(curr-1)
		        		}
		        	});
		        }
		    }
        });

        var title = '';
        var url = '';
        var saveOrUpdateLayer;

        //监听按钮的点击事件，将表单序列化
        //刷新数据表格，把查询表单数据拼接上
        $("#doSearch").click(function() {
            var params = $("#searchForm").serialize();
            alert(params);
            tableIns.reload({
                url:'/technology/queryAllTechnology?'+params,
                page:{curr:1} //查询都是跳到第一页
            })
        })

        //监听头部工具栏事件
        table.on('toolbar(loginInfoTable)', function(obj){
            switch(obj.event){
	            case 'add':
	               title = '添加'
	               /*打开弹出层*/
	               openSaveLayer();
	               break;
                case 'deleteBatch':
                    deteleBatch();
                    break;
            };
        });

        //监听行中工具条点击事件
        //监听行工具事件
        table.on('tool(loginInfoTable)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if(layEvent === 'del'){ //删除

                layer.confirm('真的删除【'+data.name+'】技术么', function(index){
                    alert(data.loginInfoid)
                    $.post("/technology/deleteTechnology?id="+data.id,function(rtn) {
                        //弹出操作成功与否的提示
                        layer.msg(rtn.msg);
                        /*接着重新刷新表单*/
                        tableIns.reload();
                    })

                })

                //向服务端发送删除指令
            }  else if(layEvent === 'edit'){ //编辑
                //do something
                openUpdateLayer(data);//打开更新弹出框  ,这里传data过来，这里会获取到该行的数据   

            }
        });

        //打开添加弹出层方法
        function openSaveLayer() {
            saveOrUpdateLayer = layer.open({
                type:1,
                title:'添加技术',
                area:['420px','330px'],
                content:$("#saveOrUpdateDiv"),
                success:function(index){  //打开弹出层成功后的回调方法
                    //清空表单数据
                    /*每次打开前都清空表单*/
                    $("#dataForm")[0].reset();
                   
                    url="/technology/addTechnology";  //打开添加的弹出层url改为添加
                    
                }
            });
        }
        
        //打开更新弹出层方法
        function openUpdateLayer(data) {
            saveOrUpdateLayer = layer.open({
                type:1,
                title:'更新技术',
                content:$("#saveOrUpdateDiv"),
                area:['420px','330px'],
                success:function(index){  //打开弹出层成功后的回调方法
                    /*每次打开前都清空表单*/
                    $("#dataForm")[0].reset();
            
                    //回显数据
                    form.val("dataForm",data);
                    url="/technology/updateTechnology";  //打开添加的弹出层url改为添加

                }
            });
        }


        //批量删除
        function deteleBatch() {
            layer.confirm('真的删除这些么', function(index){
                //这里填的是表单的id
                var checkStatus = table.checkStatus('dataTable');
                //如果数量为零，就不能删除
                if(checkStatus.data.length == 0){
                 	layer.msg("请勾选要选择的项");
                 	return;
                 }
                //拿到选中的每一行信息
                var data = checkStatus.data;
                //遍历选中的行信息
                var params= "";
                $.each(data,function (index, ele) {
                    if (index == 0){
                        params += "ids="+ele.id;
                    } else {
                        params += "&ids="+ele.id;
                    }
                })
                alert(params);
                //发送ajax
                $.post("/technology/deleteBatchTechnology",params,function (rtn) {
                    layer.msg(rtn.msg);
                    /*接着重新刷新表单*/
                    tableIns.reload();
                })
            })
        }
        
        
        /*监听提交方法*/
        form.on('submit(doSubmit)', function(data){
            /*把表单数据提交*/
            var params = $("#dataForm").serialize();
           // alert($("#dataForm").serialize());
           // alert(url);
           // console.log(params)
            //ajax提交
            $.post(url,params,function(rtn) {
                    //弹出操作成功与否的提示
                    layer.msg(rtn.msg);
                    /*接着关闭弹出框*/
                    layer.close(saveOrUpdateLayer);
                    /*接着重新刷新表单*/
                    tableIns.reload();
                   
            })  
        });
    })

</script>

</body>
</html>
