<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
    <title>客户地区分析</title>
</head>
<body style="height: 100%; margin: 0">
<div id="container" style="height: 100%"></div>
<!--引入echart的数据分析-->
<script type="text/javascript" src="/resources/echarts/js/echarts.min.js"></script>
<script type="text/javascript" src="/resources/echarts/js/jquery-1.11.0.min.js"></script>

<script type="text/javascript">
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;

    $.post("/stat/loadCustomerAreaList",function (rtn) {
        option = {
            title : {
                text: '客户地区分析',
                subtext: '真实可靠',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: rtn
            },
            series : [
                {
                    name: '客户地区分析',
                    type: 'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:rtn,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        ;
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    })
</script>
</body>
</html>
